<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
        point="org.jboss.tools.project.examples.projectExamplesXml"
        name="%JBoss_Developer_Studio80_Examples">
        <!-- Key for URL in download.jboss.org/jbosstools/configuration/ide-config.properties -->
        <urlKey>maven.examples.url</urlKey>
        <experimental>false</experimental>
   </extension>

   <extension
        point="org.jboss.tools.project.examples.projectExamplesXml"
        name="%JBoss_Developer_Studio80_Portal_Examples">
        <!-- Key for URL in download.jboss.org/jbosstools/configuration/ide-config.properties -->
        <urlKey>portal.examples.url</urlKey>
        <experimental>false</experimental>
   </extension>

   <extension
        point="org.jboss.tools.project.examples.categories"
        name="Project Examples Categories">
        <!-- Key for URL in download.jboss.org/jbosstools/configuration/ide-config.properties -->
        <urlKey>examples.categories.url</urlKey>
    </extension>
</plugin>
