<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
        point="org.jboss.tools.project.examples.projectExamplesXml"
        name="%JBoss_Developer_Studio70_Examples">
        <url>http://download.jboss.org/jbosstools/examples/project-examples-jbds70.Beta2.xml</url>
        <experimental>false</experimental>
   </extension>
   
   <extension
        point="org.jboss.tools.project.examples.categories"
        name="Project Examples Categories">
        <url>http://download.jboss.org/jbosstools/examples/project-examples-category-jbds-7.0.xml</url>
    </extension>
</plugin>
