<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.jboss.devstudio.core.application"
            name="JBoss Developer Studio">
         <property 
               name="appName" 
               value="JBoss Developer Studio"/> 
         <property
               name="startupProgressRect"
               value="29,232,397,15"/>
         <property
               name="startupMessageRect"
               value="29,215,417,20"/>
         <property
               name="startupForegroundColor"
               value="ffffff"/>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini"/>
         <property
         		name="startupVersionLocation"
         		value="228,194"/>
         <property
         		name="startupVersionFont"
         		value="Sans-bold-9"/>
         <property
               name="windowImages"
               value="128_jbds_icon.png,48-jbds_icon.png,ico_32_jbds.png,ico_16_jbds.png"/>
         <property
               name="aboutText"
               value="%aboutText"/>
         <property
               name="aboutImage"
               value="about_jbds.jpg"/>

         <property
            name="introTitle"
            value="%introTitle"/>
         <property
            name="introDescription"
            value="%introDescription-gettingstarted"/>
      	<property
            name="introBrandingImage"
            value="%introBrandingImage"/>
      	<property
            name="introBrandingImageText"
            value="%introBrandingImageText"/>

         <property
         	name="introTitle-standby"
            value="%introTitle-gettingstarted-standby"/>
         <property
         	name="introTitle-overview"
            value="%introTitle-gettingstarted"/>
         <property
         	name="introLinkText-overview"
            value="%introLinkText-gettingstarted"/>
         <property
         	name="introDescription-overview"
            value="%introDescription-gettingstarted"/>
         <property
         	name="introTitle-createnew"
            value="%introTitle-createnew"/>
         <property
         	name="introLinkText-createnew"
            value="%introLinkText-createnew"/>
         <property
         	name="introDescription-createnew"
            value="%introDescription-createnew"/>
         <property
         	name="introTitle-perspectives"
            value="%introTitle-perspectives"/>
         <property
         	name="introLinkText-perspectives"
            value="%introLinkText-perspectives"/>
         <property
         	name="introDescription-perspectives"
            value="%introDescription-perspectives"/>
         <property
         	name="introTitle-webresources"
            value="%introTitle-webresources"/>
         <property
         	name="introLinkText-webresources"
            value="%introLinkText-webresources"/>
         <property
         	name="introDescription-webresources"
            value="%introDescription-webresources"/>

         <property
         	name="introLink1Title-gettingstarted"
         	value="%introLink1Title-gettingstarted" />
         <property
         	name="introLink1Description-gettingstarted"
         	value="%introLink1Description-gettingstarted" />

         <property
         	name="introLink2Title-gettingstarted"
         	value="%introLink2Title-gettingstarted" />
         <property
         	name="introLink2Description-gettingstarted"
         	value="%introLink2Description-gettingstarted" />

         <property
         	name="introLink21Title-gettingstarted"
         	value="%introLink21Title-gettingstarted" />
         <property
         	name="introLink21Description-gettingstarted"
         	value="%introLink21Description-gettingstarted" />

         <property
         	name="introLink22Title-gettingstarted"
         	value="%introLink22Title-gettingstarted" />
         <property
         	name="introLink22Description-gettingstarted"
         	value="%introLink22Description-gettingstarted" />

         <property
         	name="introLink1Title-perspectives"
         	value="%introLink1Title-perspectives" />
         <property
         	name="introLink1Description-perspectives"
         	value="%introLink1Description-perspectives" />

         <property
         	name="introLink2Title-perspectives"
         	value="%introLink2Title-perspectives" />
         <property
         	name="introLink2Description-perspectives"
         	value="%introLink2Description-perspectives" />

         <property
         	name="introLink3Title-perspectives"
         	value="%introLink3Title-perspectives" />
         <property
         	name="introLink3Description-perspectives"
         	value="%introLink3Description-perspectives" />

         <property
         	name="introLink4Title-perspectives"
         	value="%introLink4Title-perspectives" />
         <property
         	name="introLink4Description-perspectives"
         	value="%introLink4Description-perspectives" />

         	<property
         	name="introLink5Title-perspectives"
         	value="%introLink5Title-perspectives" />
         <property
         	name="introLink5Description-perspectives"
         	value="%introLink5Description-perspectives" />

         <property
         	name="introLink1Title-createnew"
         	value="%introLink1Title-createnew" />
         <property
         	name="introLink1Description-createnew"
         	value="%introLink1Description-createnew" />

         <property
         	name="introLink11Title-createnew"
         	value="%introLink11Title-createnew" />
         <property
         	name="introLink11Description-createnew"
         	value="%introLink11Description-createnew" />

         <property
         	name="introLink12Title-createnew"
         	value="%introLink12Title-createnew" />
         <property
         	name="introLink12Description-createnew"
         	value="%introLink12Description-createnew" />

         <property
         	name="introLink2Title-createnew"
         	value="%introLink2Title-createnew" />
         <property
         	name="introLink2Description-createnew"
         	value="%introLink2Description-createnew" />

         <property
         	name="introLink1Title-webresources"
         	value="%introLink1Title-webresources" />
         <property
         	name="introLink1Description-webresources"
         	value="%introLink1Description-webresources" />

         <property
         	name="introLink2Title-webresources"
         	value="%introLink2Title-webresources" />
         <property
         	name="introLink2Description-webresources"
         	value="%introLink2Description-webresources" />


         <property
            name="gettingstartedPageTitle"
            value="%gettingstartedPageTitle" />
         <property
            name="gettingstartedLinkGettingStarted"
            value="%gettingstartedLinkGettingStarted" />
         <property
            name="gettingstartedLinkDescriptionGettingStarted"
            value="%gettingstartedLinkDescriptionGettingStarted" />
         <property
            name="gettingstartedLinkViewlets"
            value="%gettingstartedLinkViewlets" />
         <property
            name="gettingstartedLinkHibernate"
            value="%gettingstartedLinkHibernate" />
         <property
            name="gettingstartedLinkDescriptionHibernate"
            value="%gettingstartedLinkDescriptionHibernate" />
         <property
            name="gettingstartedLinkSeam"
            value="%gettingstartedLinkSeam" />
         <property
            name="gettingstartedLinkDescriptionSeam"
            value="%gettingstartedLinkDescriptionSeam" />
         <property
            name="gettingstartedLinkJ2EE"
            value="%gettingstartedLinkJ2EE" />
         <property
            name="gettingstartedLinkDescriptionJ2EE"
            value="%gettingstartedLinkDescriptionJ2EE" />

         <property
            name="createnewPageTitle"
            value="%createnewPageTitle" />
         <property
            name="createnewLinkSeam"
            value="%createnewLinkSeam" />
         <property
            name="createnewLinkDescriptionSeam"
            value="%createnewLinkDescriptionSeam" />
         <property
            name="createnewLinkJSF"
            value="%createnewLinkJSF" />
         <property
            name="createnewLinkDescriptionJSF"
            value="%createnewLinkDescriptionJSF" />
         <property
            name="createnewLinkStruts"
            value="%createnewLinkStruts" />
         <property
            name="createnewLinkDescriptionStruts"
            value="%createnewLinkDescriptionStruts" />

         <property
            name="perspectivesPageTitle"
            value="%perspectivesPageTitle" />
         <property
            name="perspectivesLinkJavaEE"
            value="%perspectivesLinkJavaEE" />
         <property
            name="perspectivesLinkDescriptionJavaEE"
            value="%perspectivesLinkDescriptionJavaEE" />
         <property
            name="perspectivesLinkSeam"
            value="%perspectivesLinkSeam" />
         <property
            name="perspectivesLinkDescriptionSeam"
            value="%perspectivesLinkDescriptionSeam" />
         <property
            name="perspectivesLinkDB"
            value="%perspectivesLinkDB" />
         <property
            name="perspectivesLinkDescriptionDB"
            value="%perspectivesLinkDescriptionDB" />
         <property
            name="perspectivesLinkHibernate"
            value="%perspectivesLinkHibernate" />
         <property
            name="perspectivesLinkDescriptionHibernate"
            value="%perspectivesLinkDescriptionHibernate" />

         <property
            name="webresourcesPageTitle"
            value="%webresourcesPageTitle" />
         <property
            name="webresourcesLinkForum"
            value="%webresourcesLinkForum" />
         <property
            name="webresourcesLinkDescriptionForum"
            value="%webresourcesLinkDescriptionForum" />
         <property
            name="webresourcesLinkNews"
            value="%webresourcesLinkNews" />
         <property
            name="webresourcesLinkDescriptionNews"
            value="%webresourcesLinkDescriptionNews" />
         <property
				name="applicationXMI"
				value="org.eclipse.platform/LegacyIDE.e4xmi">
		  </property>
		  <property
				name="cssTheme"
				value="org.eclipse.e4.ui.css.theme.e4_default">
		  </property>
		  <property
				name="applicationCSSResources"
          value="platform:/plugin/org.eclipse.platform/images/">
		  </property>
         <!--property
				name="cssTheme"
				value="org.jboss.tools.central.themes.jbds">
		  </property-->
      </product>
   </extension>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.eclipse.ui.internal.ide.application.IDEApplication"/>
      </application>
   </extension>

   <extension
         point="org.eclipse.ui.intro">
		<intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            contentDetector="org.eclipse.ui.internal.intro.universal.contentdetect.ContentDetector"
            icon="$nl$/ico_16_jbds.gif"
            id="com.jboss.devstudio.core.intro.universal"/>
		<introProductBinding
            introId="com.jboss.devstudio.core.intro.universal"
            productId="com.jboss.devstudio.core.product"/>
   </extension>

   <extension
         point="org.eclipse.ui.intro.config">
      <config
            configurer="org.eclipse.ui.internal.intro.universal.UniversalIntroConfigurer"
            content="$nl$/intro4/introContent.xml"
            id="org.eclipse.ui.intro.universalConfig"
            introId="com.jboss.devstudio.core.intro.universal">
         <presentation
               home-page-id="root" standby-page-id="standby">
            <implementation
            	  style="$theme$/html/shared.css,$theme$/html/font-$fontStyle$.css,$theme$/html/$direction$.css"
                  kind="html"
                  os="win32,linux,macosx,solaris">
            </implementation>
            <implementation
                  kind="swt">
            </implementation>
            <launchBar
               	location="fastview"
            	bg="$launchbarBackground$"
            	computed="true">
            </launchBar>
         </presentation>
      </config>

   </extension>
      <extension
         point="org.eclipse.ui.intro.configExtension">
      <theme
            default="true"
            id="com.jboss.devstudio.core.intro.jbds"
            name="JBDS"
            path="$nl$/themes/jbds"
            previewImage="$nl$/themes/jbds/preview.png">
            <property name="workbenchAsRootLink"
            		value="true"/>
            		<!--
            <property name="launchbarBackground"
            		value="#a1c2cb"/>
            		-->
            <property name="launchbarGettingStartedIcon"
            		  value="$theme$graphics/launchbar/gettingstarted16.png"/>
            <property name="launchbarCreateNewIcon"
            		  value="$theme$graphics/launchbar/createnew16.png"/>
            <property name="launchbarPerspectivesIcon"
            		  value="$theme$graphics/launchbar/perspectives16.png"/>
            <property name="launchbarWebresourcesIcon"
            		  value="$theme$graphics/launchbar/webresources16.png"/>

            <property name="highContrast-gettingstarted"
            		  value="$theme$graphics/icons/ctool/gettingstarted.png"/>
            <property name="highContrast-createnew"
            		  value="$theme$graphics/icons/ctool/createnew.png"/>
            <property name="highContrast-perspectives"
            		  value="$theme$graphics/icons/ctool/perspectives.png"/>
            <property name="highContrast-webresources"
            		  value="$theme$graphics/icons/ctool/webresources.png"/>
            <property name="highContrast-workbench"
            		  value="$theme$graphics/icons/ctool/workbench.png"/>

            <property name="highContrastNav-gettingstarted"
            		  value="$theme$graphics/icons/ctool/gs_nav.png"/>
            <property name="highContrastNav-createnew"
            		  value="$theme$graphics/icons/ctool/cn_nav.png"/>
            <property name="highContrastNav-perspectives"
            		  value="$theme$graphics/icons/ctool/ap_nav.png"/>
            <property name="highContrastNav-webresources"
            		  value="$theme$graphics/icons/ctool/wr_nav.png"/>
            <property name="highContrastNav-workbench"
            		  value="$theme$graphics/icons/ctool/wb_nav.png"/>
      </theme>
   </extension>

    <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.jboss.devstudio.core.splash.SplashHandler"
            id="com.jboss.devstudio.core.splash">
      </splashHandler>
      <splashHandlerProductBinding
            productId="com.jboss.devstudio.core.product"
            splashId="com.jboss.devstudio.core.splash">
      </splashHandlerProductBinding>
   </extension>
    <extension
          id="EclipseGenerator"
          point="org.eclipse.core.runtime.applications">
       <application>
          <run
                class="com.jboss.devstudio.core.MetaGeneratorApplication">
          </run>
       </application>
    </extension>

</plugin>
